body {
  width: 100%;
  height: 100svh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.hand {
  width: 0;
  position: relative;
  top: 75%;
  left: 50%;
}

.card {
  transform-origin: bottom;
  position: absolute;
  width: 60px;
  height: 80px;
  border-radius: 10%;
  transform: translate(0, 0);
  transition: transform 0.1s linear;
  cursor: grab;
}

.card1 {
  background-color: teal;
  transform: rotate(-20deg);
}

.card2 {
  background-color: blueviolet;
  transform: rotate(0);
}

.card3 {
  background-color: tomato;
  transform: rotate(20deg);
}

.card1:hover {
  transform: translate(0, -30px) rotate(-20deg);
}

.card2:hover {
  transform: translate(0, -30px) rotate(0);
}

.card3:hover {
  transform: translate(0, -30px) rotate(20deg);
}

.dragging {
  transform-origin: center;
  transform: rotate(0);
}
